body {
    background-color: #fcfcfc;
}

.navbar-brand {
    font-weight: bolder;
    color:#2b7ab8;
    font-size: 1.1em;
}

.nav-link {
    color: rgb(109, 109, 109);
    font-weight: 500;
    font-size: 1.1em;
    font-family:sans-serif;
}

.header {
    font-weight: 700;
    font-size: 4.5em;
    color:rgb(63, 63, 63);
}

.about {
    max-width: 600px;
    margin: auto;
}

.name {
    color: #2b7ab8;
}

.button {
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #2b7ab8;
    color: #2b7ab8;
  }
.button:hover {
color: #fff;
}
.button:hover:after {
width: 100%;
}
.button:after {
content: "";
position: absolute;
z-index: -1;
transition: all 0.3s ease;
left: 0;
top: 0;
width: 0;
height: 100%;
background: #2b7ab8;
}

.header-sub {
    font-weight: 700;
    color:rgb(63, 63, 63);
}

.title {
    text-align: center;
    margin-top: 2em;
    font-weight: bold;
    color:rgb(63, 63, 63);
}

.card {
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    border: 1px solid rgb(228, 228, 228);
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    transition: transform 0.2s;
}

.card-title {
    color:rgb(63, 63, 63);
    font-weight: bolder;
    font-size: 1.5rem;
}

.card-img-top {
    height: 50%;
}

.card:hover {
    transform: translateY(-7px);
}

.skills {
    max-width: 500px;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.skill:hover {
    transform: translateY(-3px);
}

.skill {
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 15%);
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    transition: transform 0.2s;
    background-color: white;
}

.text {
    color:rgb(63, 63, 63);
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}