.navbar-brand {
    font-weight: bolder;
    color:#2b7ab8;
    font-size: 1.1em;
}

.nav-link {
    color: rgb(109, 109, 109);
    font-weight: 500;
    font-size: 1.1em;
    font-family:sans-serif;
}